body {
	font-size: 16px;
	color: black;
	background-color: #e0e0e0;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#header-nav {
	background-color: white;
	border-radius: 0;
	border:  0;
}

.navbar-brand {
	
}

.navbar-brand h1{
	color:  #c30000;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}	

.collapsed {
	background: transparent;
}

.navbar-header button.navbar-toggle, .navbar-toggle span.icon-bar {
	border:  1px solid #462300;
}


.navbar-header button.navbar-toggle:hover {
	background-color: white;
}

.card-content {
	background-color: white;
	padding: 20px 40px;
	margin-top: 20px;
	font-size: 1em;
	font-weight: 400;
	width: 100%;
}

.card-content h3{
	font-weight: 800;

}


.card-content:hover {
	box-shadow:0 5px 30px 5px #b2b2b2 ;
}

.row {
	margin-bottom: 20px;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a{
	text-align: center;
	color: #462300;
	text-transform: capitalize;
	font-weight: 800;
}

#nav-list a:hover{
	color: white;
	background-color: #c30000;
}

#title {
	font-size: 2.5em;
	font-weight: 900;
	color: #c30000;
}
